@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

:root{
    --warna-emas: rgb(255,192,0);
    --warna-terang: rgb(242,242,242);
    --warna-gelap: rgb(38,38,38);
    --warna-putih: rgb(255,255,255);
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--warna-putih);
}

header {
    background-color: #222;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}

/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ;
}

header {
    background-color: #222;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}
/* Header-selesai */

/* Home */
section {
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #8BC6EC;
}

.home .content {
    z-index: 888;
    color: black;
    width: 20%;
    margin-top: 450px;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: black;
    padding: 15px 35px;
    color: blue;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5 ease;
}

.home .media-icons a {
    color: black;
    font-size: 1.6em;
    transition: 0.3 ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1040px) {
    header {
        padding: 12px 20px;
    }

    section {
        padding: 100px 20px;
    }

    .home .media-icons {
        right: 15px;
    }

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(1, 1, 1, 0.5);
    }

    header .navigation .navigation-items a {
        position: relative;
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }

    header .navigation.active .navigation-items {
        background-color: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 5px 25px rgba(1, 1, 1, 0.5);
    }

    .menu-btn {
        background: url(menu.png)no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.1s ease;
    }

    .menu-btn.active {
        z-index: 888;
        background: url(close.png)no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.05s ease;
    }
}
/* Home-selesai */

/* Judul tiap section */
h2{
    font-family: 'Monserrat', sans-serif;
    display: flex;
    justify-content: center;
}


/* Dosen Slider */
.dosen{
    position: relative;
    overflow: hidden;
    padding: 20px;
    background-image: url(assets/Bg-dosen.jpg);
    background-size: cover;
}

.dosen-container .subjudul h2{
    padding: 2vw 10vw;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 17px;
}

.dosen-container .dosen-list{
    padding: 2vw 0vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin-top: 20px;
}

.dosen-container .dosen-list::-webkit-scrollbar{
    display: none;
}

.dosen-selengkapnya{
    margin-top: 1.7rem;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.dosen-card{
    flex: 0 0 auto;
    width: 300px;
    height: 440px;
    margin-right: 70px;
    border-radius: 20px;
    background-color: var(--warna-putih);
    box-shadow: 5px 8px;
}

.dosen-card .dosen-gambar{
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
    padding: 17px;
}

.dosen-card .product-thumb{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nama{
    text-transform: uppercase;
    padding-left: 17px;
}

.dosen-container{
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}

.dosen-container .prebtn img,
.dosen-container .nxtbtn img{
    max-width: 40px;
    height: auto;
    margin: 0;
    opacity: .2;
}

.dosen-container .prebtn ,
.dosen-container .nxtbtn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    z-index: 8;
}

.dosen-container .prebtn{left: 0;}
.dosen-container .nxtbtn{right: 0;}

.dosen-container .prebtn:hover img,
.dosen-container .nxtbtn:hover img{
    opacity: 1;
} 

.dosen-selengkapnya{
    text-decoration: none;
    color: var(--warna-gelap);
    padding-bottom: 20px;
}
/* Dosen slider-selesai */


/* Events */


/* Events-selesai */




/* Faq */

.faq-container{
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}

.faq-container .question-container{
    box-shadow: 0 4x 8px -3 var(--warna-gelap);
}

.faq-container .faqjudul{
    padding: 4px 32px;
    font-size: 28px;
}

.faq-header{
    display: flex;
    background-color: var(--warna-gelap);
    color: var(--warna-putih);
    align-items: center;
    position: relative;
    cursor: pointer;
}

.open, .close{
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.open.active, .close{
    opacity: 1;
    transform: translateY(0);
}

.faq-container .faq-header h3{
    font-size: 18px;
    padding: 10px 32px;
}

.content{
    padding: 0 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.faq-container .content.active{
    max-height: 600px;

}

.faq-container .isi-faq .illust img{
    max-width: 80%;
    overflow: hidden;
}

.faq-container .isi-faq{
    display: flex;
    align-items: center;
}

.isi-faq .illust{
    margin-right: 0;
}




/* FAq-selesai */


/* Footer */

/* Footer-selesai */