@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

:root{
    --warna-emas: rgb(255,192,0);
    --warna-terang: rgb(242,242,242);
    --warna-gelap: rgb(38,38,38);
    --warna-putih: rgb(255,255,255);
}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--warna-putih);
}

/* Hilangkan poin list */
.menu{
    display: flex;
    padding: 1.25rem;
    list-style: none;
    margin: 0 20px 0 0;
    justify-content: flex-end;
}

/* Kasih block dan hilangkan garis bawah link */
li a{
    text-decoration: none;
    color: var(--warna-putih);
    padding: 1.5em;
    position: relative;
}
/* sebelah kiri */
.homelogo{
    color: var(--warna-putih);
    text-decoration: none;
    padding: 1.25rem;
    display: flex;
}
/* logo archi kiri atas */
.gambar-logo img {
    width: 50px;
}
/* campuran logo archi ama tulisan tsd */
.kiri{
    display: flex;
}

/* horizontal menu navbar sebelah kanan */
#navbar{
    display: flex;
    width: 97vw;
    font-weight: bold;
    justify-content: space-between;
    margin: 0;
    padding-left: 4em;
    position: fixed;
    background-color: var(--warna-gelap);
}

/* Animasi */
li a::after{
    content: "";
    position: absolute;
    display: block;
    height: 0.4em;
    width: 0%;
    background-color: var(--warna-emas);
    bottom: -0.7em;
    transition: 250ms;
}

li a:hover::after{
    width: 90%;
}

li a:hover{
    color: var(--warna-emas);
}


/* Home */
.home-container{
    background-image: url(assets/Background-home.jpg);
    background-size:cover ;
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 79px;
    color: var(--warna-emas);
    text-shadow: 25px;
    text-align: center;
    font-weight: bolder;
    top: 50%;
    padding: 280px 0 190px 0;
}

.scrollbtn{
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.scrollbtn a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: var(--warna-gelap);
    background-color: var(--warna-putih);
    border-radius: 20px;
    padding: 5px 8px;
}
/* Home-selesai */

/* Judul tiap section */
h2{
    font-family: 'Yeseva One', cursive;
    display: flex;
    justify-content: center;
}


/* Dosen Slider */
.dosen-container{
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}


/* Dosen slider-selesai */





/* Faq */

.faq-container{
    max-width: 1100px;
    align-items: center;
    margin: 0 auto;
}

.faq-container .question-container{
    box-shadow: 0 4x 8px -3 var(--warna-gelap);
}

.faq-container .faqjudul{
    padding: 4px 32px;
    font-size: 28px;
}

.faq-header{
    display: flex;
    background-color: var(--warna-gelap);
    color: var(--warna-putih);
    align-items: center;
    position: relative;
    cursor: pointer;
}

.open, .close{
    position: absolute;
    right: 0;
    padding: 0 32px;
    font-size: 22px;
    font-weight: bold;
    transform: translateY(-8px);
    opacity: 0;
    transition: all 500ms;
}

.open.active, .close{
    opacity: 1;
    transform: translateY(0);
}

.faq-container .faq-header h3{
    font-size: 20px;
    padding: 0 32px;
}

.content{
    padding: 0 32px;
    line-height: 2;
    max-height: 0;
    overflow: hidden;
    transition: all 500ms;
}

.faq-container .content.active{
    max-height: 600px;

}

.faq-container .isi-faq .illust img{
    max-width: 80%;
    overflow: hidden;
}

.faq-container .isi-faq{
    display: flex;
    align-items: top;
}

.isi-faq .illust{
    margin-right: 1rem;
}
/* FAq-selesai */


/* Footer */

/* Footer-selesai */