@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');

:root{
    --warna-emas: rgb(255,192,0);
    --warna-terang: rgb(242,242,242);
    --warna-gelap: rgb(38,38,38);
    --warna-putih: rgb(255,255,255);
    --warna-gelap-trans: rgba(38, 38, 38, .54)
}

html{
    scroll-behavior: smooth;

}

body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--warna-putih);
    display: flexbox;
}

body p{
    font-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ;
}

/* Header */

/* Home */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    ;
}

header {
    background-color: #222;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;
}

header .brand {
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3 ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.6s ease;
}

header .navigation .navigation-items a:hover:before {
    width: 100%;
}
/* Header-selesai */


.isi{
    margin: auto;
    background-color: var(--warna-putih);

}

.container{
    max-width: 1400px;
    display: flexblock;
    background-color: var(--warna-putih);
    padding: 100px 200px;
    
}

.judul h1{
    font-size: 36px;
}

.judul h4{
    color: rgb(210, 217, 224);
}

.judul{
    margin-bottom: 30px;
}

.tulisan p{
    margin-bottom: 10px;
    width: 900px;
}

.gambar img{
    width: 550px;
    height: auto;
    margin-bottom: 20px;
}

.materi-container{
    display: flexbox;
}

.materi-container .card-atas,
.materi-container .card-bawah{
    display: flex;
    justify-content:space-evenly ;
    margin: 30px 10px 30px 0;
}

.materi-container .card-container{
    display: flexbox;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 2px var(--warna-gelap-trans);
    transition: 500ms;
    border: none;
}

.materi-container .card-container:hover{
    box-shadow: 6px 6px 4px var(--warna-gelap-trans);
}

.card-container h2{
    text-align: center;
}

.materi-illust{
    align-content: center;
}

.card-container .materi-illust img{
    max-height: auto;
    max-width: 250px;
}
